<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
  <h3 class="text-muted">Sinatra App</h3>
</div>
